<!DOCTYPE HTML>

<html>

<head>
    <title>ATuna - Together the fly</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="css/ui-dialog.css">
    <link rel="stylesheet" type="text/css" href="css/doc.css">
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?9d085319d101cf0b0fcbfb6240660efd";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>

</head>

<body class="landing">
    <!-- Header -->
    <header id="header" class="alt">
        <nav id="nav">
            <ul>
                <li><a href="/">主页</a>
                </li>
                <li>
                    <a href="" class="icon fa-angle-down">动态</a>
                    <ul>
                        <li>
                            <ul>
                                <li><a href="/feeligns">创易工厂</a>
                                </li>
                                <li><a href="/ideas">玻璃墙</a>
                                </li>
                                <li><a href="/remaining">小时工</a>
                                </li>
                                <li><a href="/partner">拉帮结派</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/architecture">体系</a>
                </li>
                <li><a href="/member">成员</a>
                </li>
                <li><a href="/about">关于ATuna</a>
                </li>
                <li><a href="javascript:;" class="button">登记</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
        <h2>ATuna</h2>
        <p>Open ATuna 看到世界</p>
        <ul class="actions">
            <li><a href="javascript:" class="button special login">登 陆</a>
            </li>

            <li><a href="/about" class="button">更 多</a>
            </li>
        </ul>
    </section>

    <!-- Main -->
    <section id="main" class="container">

        <section class="box special">
            <header class="major">
                <h2>我们相信不可能的事</h2>
                <p>过好生活，只想此时此刻。</p>
            </header>
            <span class="image featured"><img src="img/pic01.jpg" alt="" /></span>
        </section>

        <section class="box special features">
            <div class="features-row">
            </div>
            <div class="features-row">
                <section>
                    <span class="icon major fa-coffee  accent3"></span>
                    <h3>创易工厂</h3>
                    <p>简单，是我的追求</p>
                </section>
                <section>
                    <span class="icon major fa-lightbulb-o accent4"></span>
                    <h3>玻璃墙</h3>
                    <p>真实与想象，到底差多少</p>
                </section>
                <section>
                    <span class="icon major fa-history accent1"></span>
                    <h3>小时工</h3>
                    <p>反正闲着也是闲着</p>
                </section>
                <section>
                    <span class="icon major fa-user-secret accent2"></span>
                    <h3>拉帮结派</h3>
                    <p>是否强力，来证明一下</p>
                </section>
            </div>
        </section>

        <div class="row">
            <div class="6u 12u(narrower)">

                <section class="box special">
                    <span class="image featured"><img src="img/pic02.jpg" alt="" /></span>
                    <h3>年轻</h3>
                    <p>年轻是朝阳，有着不可阻挡的光芒；年轻是香槟酒，有着不断喷涌的热情；年轻是秧歌，有着朝气蓬勃的热闹；年轻是诗，有着慨当以慷的豪迈；年轻是春日的竹笋，每天都节节向上；</p>
                    <ul class="actions">
                        <li><a href="/member" class="button alt">Learn More</a>
                        </li>
                    </ul>
                </section>

            </div>
            <div class="6u 12u(narrower)">

                <section class="box special">
                    <span class="image featured"><img src="img/pic03.jpg" alt="" /></span>
                    <h3>希望</h3>
                    <p>希望是漫漫黑夜里的一点灯火，即使微弱也能给你前进的力量；希望是寒冷冬季里的一盆炭火，即使微弱也能给你丝丝的温暖；希望是茫茫沙漠里的一抹绿色，即使微弱也能给你生存的勇气。</p>
                    <ul class="actions">
                        <li><a href="/member" class="button alt">Learn More</a>
                        </li>
                    </ul>
                </section>

            </div>
        </div>

    </section>

    <!-- CTA -->
    <section id="cta">

        <h2>加入ATuna 展示你的个性，释放人生的精彩。</h2>
        <p>留下邮箱你的邮箱，证明你和我们一样</p>

        <form>
            <div class="row uniform 50%">
                <div class="8u 12u(mobilep)">
                    <input type="email" name="email" id="email" placeholder="Email Address" />
                </div>
                <div class="4u 12u(mobilep)">
                    <input type="submit" value="发 送" class="fit" />
                </div>
            </div>
        </form>

    </section>
  
    <% include footer.html %>
